<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management System</title>
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
</head>
<body>
    {% include 'layout/header.html' with link='/projects_list' name='Projects' %}
    <div class="tasks-list">
        <h2>Tasks</h2>
        <br>
        <a href="{% url 'create_task' %}" class="btn" style="background: #ff5733;">Create Task</a>
        <br><br>
        <label>Filter:</label>
        <select id="projectDropdown" onchange="filterTasks()">
            <option value="" disabled selected>Select a Project</option>
            {% for project in projects %}
                <option value="{{ project.id }}" {% if project.id == request.GET.project_id %}selected{% endif %}>{{ project.name }}</option>
            {% empty %}
                <option disabled>No Projects Found</option>
            {% endfor %}
        </select>

        <table class="task-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Project</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.priority }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.project.name }}</td>
                    <td>
                        {% if request.user.role == "admin" %}
                            <a href="{% url 'update_task' task.id %}" class="btn btn-edit">Edit</a>
                            <a href="{% url 'delete_task' task.id %}" class="btn btn-delete" onclick="return confirm('Are you sure you want to delete this task?');">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">No tasks found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<script>
    function filterTasks() {
        const projectDropdown = document.getElementById("projectDropdown");
        const projectId = projectDropdown.value;
        if (projectId) {
            window.location.href = `/${projectId}/`;
        }
    }
</script>
</html>
